
a {
  color: goldenrod;
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.lol-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        'navbar navbar navbar'
        'sidebar content-container content-container';
    background-color: #ededed;
}

.navbar{
  height: auto;
  width: auto;
  grid-area: navbar;
  background-color: #192C37;
  display: grid;
  grid-template-columns: 20% 60 20% ;
  grid-template-areas: 
        'navbar-menu title login';
  border: ridge goldenrod 5px;
}

.navbar-menu {
  display: inline-block;
  margin-left: 2%;
  grid-area: navbar-menu;

  color: goldenrod;
}

.login {
  display: inline-block;
  margin-left: 80%;
  grid-area: login;
  color: goldenrod;
}
.title{
  text-align: center;
  color: goldenrod;
}
.sidebar {
  height: auto;
  width: auto;
  grid-area: sidebar;
  background-color: #192C37;
  border-bottom: ridge goldenrod 5px;
  border-right: ridge goldenrod 5px;
  border-left: ridge goldenrod 5px;
 
}

.buttons{
  margin-top: -10px;
  display: inherit;
  margin-left: -100px;
  text-align: end;
}

.button-image{
  width: 100%;
}

.loadout-cards {
  border-style: solid black 1px;
}

.content-container {
  height: auto;
  width: auto;
  grid-area: content-container;
  display: inline-block;
  overflow: auto;
  background: linear-gradient(to right,  rgba(19,18,18, 1),  rgba(19,18,18, 1),  rgb(70, 67, 67), rgb(138, 135, 135));
  color: goldenrod;
}

.champion-tile{
  width: 30% auto;
  text-align: center;
  float: left;
  margin: 40px;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
}
.champion-card{
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-template-areas: 
        'champion-icon champion-info';
}

.champion-icon{
  grid-area: champion-icon;
  text-align: center;
}

.champion-info{
  grid-area: champion-info;
  
}

.champion-info p {
  width: 50%;
}

.item-tile{
  width: 30% auto;
  text-align: center;
  float: left;
  margin: 40px;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
}

.loadout-tile{
  border: ridge 3px #192C37  ;
  height: 40%;
  
}  

.loadout-items {
  display: inline-block;
  padding: 1%;
}

.loadout-card{
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-template-areas: 
        'loadout-icon loadout-info';
}

.loadout-icon{
  grid-area: loadout-icon;
  text-align: center;
}

.loadout-info{
  grid-area: loadout-info;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-areas: 
  'items'
  'cost';
  
}

.loadout-item-tile{
  width: 20% auto;
  text-align: center;
  float: left;
  margin: 40px;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 15px;
}

.loadout-all-items{
  grid-area: items;
}

.loadout-total-cost{
  grid-area: cost;
}